---
layout: page
title: PORTFOLIO
permalink: /portfolio/
---

<ul class="nav nav-tabs nav-justified">
    {% for portfolio in site.data.resume.portfolio %}
    <li class="nav-item">
      <a class="nav-link {% if forloop.index0 == 0 %}active{% endif %}" data-toggle="pill" href="#{{ portfolio.id }}">{{ portfolio.section }}</a>
    </li>
    {% endfor %}
</ul>
  
<div class="tab-content">
    {% for portfolio in site.data.resume.portfolio %}
    <div class="tab-pane container {% if forloop.index0 == 0 %}active{% else %}fade{% endif %}" id="{{ portfolio.id }}">
        <div class="row">
            {% for project in portfolio.projects %}
            <div class="col-md-3" style="margin: 10px;">
                <div class="container-fluid">
                    <div class="row top-row">
                        <div class="col">
                            <h3>{{ project.display-title }}</h3>
                        </div>
                    </div>
                    <div class="row middle-row abtn">
                        {% if project.github %}
                        <a class="col btn btn-light noradius" type="button" target="_blank" href="https://github.com/{{ site.social.github }}/{{ project.github }}">
                            Ouvrir dans <span class="fab fa-github"></span>
                        </a>
                        {% endif %}
                        {% if project.url %}
                        <a class="col btn btn-light noradius" type="button" target="_blank" href="{{ project.url }}">
                            Ouvrir <span class="fas fa-globe"></span>
                        </a>
                        {% endif %}
                    </div>
                    <div class="row middle-row">
                        <div class="col"><p><span class="far fa-calendar-alt"></span> {{ project.period }}</p></div>
                    </div>
                    <div class="row middle-row">
                        <div class="col"><p><span class="fas fa-map-pin"></span> {{ project.location }}</p></div>
                    </div>
                    <div class="row bottom-row">
                        <button type="button" class="col btn btn-light" data-toggle="modal" data-target="#{{ project.id }}" style="border-radius: 0px 0px 10px 10px;">
                            <span class="fas fa-info-circle"></span> En savoir plus
                        </button>
                    </div>
                </div>

                <div class="modal fade" id="{{ project.id }}" style="text-align: center;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" style="width: 100%;">{{ project.title }}</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                    
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col"><p><span class="far fa-calendar-alt"></span> {{ project.period }}</p></div>
                                    <div class="col"><p><span class="fas fa-map-pin"></span> {{ project.location }}</p></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <h4>Technologies utilisées</h4>
                                        {% for skill in project.skills %}
                                        <img src="/assets/images/skills/{{ skill }}.svg" alt="{{ skill }}" title="{{ skill }}" width="65px">
                                        {% endfor %}
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <h4>Description</h4>
                                        {% for element in project.description %}
                                        <p>{{ element }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if project.images %}
                                <div id="{{ project.id }}-images" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for image in project.images %}
                                        <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
                                            <img class="d-block w-100" src="/assets/images/portfolio/{{ image.name }}.{{ image.type }}" alt="{{ image.name }}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#{{ project.id }}-images" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#{{ project.id }}-images" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                {% endif %}
                            </div>

                            <div class="modal-footer abtn">
                                {% if project.github %}
                                <a class="col btn btn-outline-dark" type="button" target="_blank" href="https://github.com/{{ site.social.github }}/{{ project.github }}">
                                    <span class="fab fa-github"></span> Ouvrir dans GitHub
                                </a>
                                {% endif %}
                                {% if project.url %}
                                <a class="col btn btn-outline-dark" type="button" target="_blank" href="{{ project.url }}">
                                    <span class="fas fa-globe"></span> Ouvrir site
                                </a>
                                {% endif %}
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>