<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

  <!-- <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script> -->
  <script>
    $("a.u-email").on("click", function(){
      var href = $(this).attr("href");
      $(this).attr("href", href.replace("{at}", "@").replace(".earth", ""));
    });
  </script>
</html>
